@{
    ViewData["Title"] = "Promises";
}

<div class="text-center">
    <h1 class="display-4">Promises</h1>
    
</div>


<a href="https://youtu.be/PoRJizFvM7s">Async JS Crash Course - Callbacks, Promises, Async Await</a>